
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1 style="background-color:yellowgreen;color:aqua;text-align:center;text-decoration:underline">Software Solutions</h1>

        <h2>Click on the links below to navigate:</h2>
        <h3>
            <a href="/Home/Register">Register</a> <br />
            <a href="/Home/Login">Login</a> <br />
            <a href="/Home/ForgotPassword">Forgot Password</a> <br />
            <a href="/Home/ResetPassword">Reset Password</a> <br />
            <a href="/Home/Contact"> Contact Us</a> <br />
            <a href="/Home/Mission"> Our Mission</a> <br />
            <a href="/Home/About"> About Us</a> <br />
            <a href="/Home/Show/1">Launch  Show1</a> <br />
            <a href="/Home/Show/2"> Launch Show2</a> <br />

</div>

</body>
</html>
